{% extends 'base.html' %}
{% block content %}



<div class="container">
<br/>

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <div id="imageSlider" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ product.image.url }}" class="d-block w-100" alt="Image 1">
            </div>
            <div class="carousel-item">
                <img src="{{ product.image1.url }}" class="d-block w-100" alt="Image 2">
            </div>
            <!-- Add more carousel items for additional images if needed -->
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#imageSlider"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#imageSlider"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
      </div>    
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <center>
        <h5 class="card-title">{{ product.name }}</h5>
        <br/>
        <p class="card-text justified">{{ product.description }}</p>
        
        {% if product.is_sale %}
        <div class="d-flex justify-content-center small text-warning mb-2">
                <div class="bi-star-fill"></div>
                &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                <div class="bi-star-fill"></div>
                </div>

                <!-- Product price-->
                <strike>
                ${{ product.price }}
                </strike>
                &nbsp;
                ${{ product.sale_price }}



        {% else %}
            ${{ product.price }}
            
        {% endif %}
            <br/><br/>


<div class="row justify-content-center">
{% if product.size != '-' %}
  <!-- Other products with the same size code -->
  <h6>Select Variation:</h6>
  <select name="size" id="size">
    {% for other_product in other_products %}
      <option value="{{ other_product.size }}" data-product-id="{{ other_product.id }}">{{ other_product.size }}</option>
    {% endfor %}
    <!-- Include the size of product.id as an option -->
    <option value="{{ product.size }}" data-product-id="{{ product.id }}">{{ product.size }}</option>
  </select>
{% else %}
  <input type="hidden" name="size" id="size" value="-">
{% endif %}

          


    <div class="col-md-2">Quantity:</div>
                <div class="col-md-2">
                <select class="form-select form-select-sm" id="qty-cart">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                </div>
            </div>
            <br/><br/>
        <a href="{% url 'home'%}" class="btn btn-secondary">Home</a>
        <button type="button" value="{{ product.id }}" class="btn btn-secondary" id="add-cart">Add To Cart</button>

    </center>
      </div>
    </div>
  </div>
</div>
</div>
        	

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<script>
// Check if button pressed
// Check if button pressed
$(document).on('click', '#add-cart', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '{% url 'cart_add' %}',
        data: {
            product_id: $('#size').val() === '-' ? $('#add-cart').val() : $('#size option:selected').data('product-id'),
            product_qty: $('#qty-cart option:selected').text(),
            color: $('#size').val(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },
        success: function(json){
            //console.log(json)
            document.getElementById("cart_quantity").textContent = json.qty
            location.reload();
        },
        error: function(xhr, errmsg, err){
            // Handle errors
        }
    });
});

</script>
{% endblock %}