
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Enter New Password</h1>
            <p class="lead fw-normal text-white-50 mb-0">Please enter your new password twice.</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
                <form method="POST">
                    {% csrf_token %}
                    {{form}}
                    <input type="submit" name="update password" >


                </form>

                <br/><br/>
            </div>
        </center>
    </div>
</div>
